*,
*:before,
*:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--background: #FFF7DD;
	--accent: #C70039;
	--accent-dark: #900C3F;
}


body {
	background: var(--background);
	font-family: 'Baloo Da 2', sans-serif;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 0;
}

.tinder {
	width: 100vw;
	height: 99vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	text-align: center;
	position: relative;
	opacity: 0;
	transition: opacity 0.1s ease-in-out;
}

.header {
	text-align: left;
	margin-left: 50px;
	color: var(--background);
}

.description {
	text-align: right;
	margin-left: 65%;
	margin-top: -100px;
	color: var(--accent);
	font-weight: bolder;
	letter-spacing: 0.2px;
	max-width: 600px;
}

.loaded.tinder {
	opacity: 1;
}

.tinder--status {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	z-index: 2;
	width: 100%;
	text-align: center;
	pointer-events: none;
}

.tinder--status i {
	font-size: 100px;
	opacity: 0;
	transform: scale(0.3);
	transition: all 0.2s ease-in-out;
	position: absolute;
	width: 100px;
	margin-left: -50px;
}

.tinder_love .fa-heart {
	opacity: 0.7;
	transform: scale(1);
}

.tinder_nope .fa-remove {
	opacity: 0.7;
	transform: scale(1);
}

.tinder--cards {
	flex-grow: 1;
	padding-top: 10px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.tinder--card {
	display: flex;
	flex-direction: row;
	width: 150vw;
	max-width: 1200px;
	height: 65vh;
	background: #ffffff;
	padding-right: 300px;
	border-radius: 14px;
	overflow: hidden;
	position: absolute;
	will-change: transform;
	transition: all 0.3s ease-in-out;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
}

.moving.tinder--card {
	transition: none;
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}

.tinder--card div { /* Background image for cards */
	min-width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 0px -30px;
	pointer-events: none;
	overflow: hidden;
	background-repeat: no-repeat;
	text-align: left;
}

.text-div {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	margin-top: 30px;
}

.tinder--card h3 {
	font-size: 32px;
	pointer-events: none;
	max-width: 300px;
}
.tinder--card h4 {
	margin-top: 20px;
	pointer-events: none;
	max-width: 250px;
	font-size: 22px;
	line-height: 110%;
}

.tinder--card p {
	margin-top: 24px;
	font-size: 20px;
	pointer-events: none;
	max-width: 250px;
}

.tinder--buttons {
	flex: 0 0 100px;
	text-align: center;
}

.tinder--buttons-interact {
	border-radius: 50%;
	line-height: 60px;
	width: 60px;
	border: 0;
	background: #ffffff;
	display: inline-block;
	margin: 0 8px;
}

.tinder--buttons button:focus {
	outline: 0;
}

.tinder--buttons i {
	font-size: 32px;
	vertical-align: middle;
}

.fa-heart {
	color: #fface4;
}

.fa-remove {
	color: #cdd6dd;
}

.removed {
	opacity: 0;
	display: none;
}